# Ignore compiled Java class files
*.class

# Ignore logs
*.log

# Ignore temporary system files
.DS_Store
Thumbs.db

# Ignore IDE settings
.vscode/
.idea/

# Ignore build output folders
/build/
out/

# Ignore environment files
.env

#Ignore pom files
.xml

#Ignore lst files
.lst

#Ignore jar files
.jar

target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/week07-1.0-SNAPSHOT.jar
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/classes/app/App.class
target/classes/app/App.class
